@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.Topcontent{
    color: white;
    
}
.Topcontent__container{
    position: absolute;
    top: 300px;
    right: 150px;
}
.Topcontent__container >p{
    letter-spacing: 1px;
    text-align: left;
    padding-left: 3px;
    padding-top: 0px;
}
.Topcontent__container >a >button{
    margin-top: 30px;
    text-align: left;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    outline: none;
}
.Topcontent__container >h1{
    font-size: 50px;
    font-family: "alata", sans-serif;
}
.Topcontent__downloadbutton{
    color: white;
    background-color: #f64c08;
    font-size: 14px;
    padding: 10px 30px;
    font-family: "alata", sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.Topcontent__downloadbutton:hover{
    color: white;
    background-color: #f64c08;
    font-weight: 600;
}
.Topcontent__workbutton{
    color: white;
    border: 1px solid white !important;
    padding: 9px 45px;
    background-color: transparent;
    font-family: 'alata', sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.Topcontent__workbutton:hover{
    color: black;
    background-color: white;
    font-weight: 600;
}
